/* reset default css  */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

body{
  background-color: #f4eeee;
  max-width: 1440px;
  overflow: hidden;
}

/* nav bar design  */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  padding: 0 5%;
}
nav img{
  width: 150px;
}

/* nav bar links  */
nav ul{
  display: flex;
  align-items: center;
}
nav ul li{
  list-style: none;
  margin-right: 50px;
  font-weight: 600;
}
a{
  text-decoration: none;
  color: #000000;
}

/* hero section design  */
main{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}


main section {
  width: 50%;
}

.left-section{
  margin-left: 5%;
  position: relative;
}

.top-angle{
  width: 25px;
}

.left-section h1{
  font-size: 70px;
}
.left-section p{
  color: #686060;
  margin: 20px 0;
  font-size: 20px;
}
.bottom-angle{
  width: 25px;
  position: absolute;
  right: 25px;
}

.stethoscope {
  position: absolute;
  width: 90%;
  right: -25%;
  top: -50px;
  z-index: -1;
}
.mouse{
  position: absolute;
  bottom: 0;
  width: 30px;
  right: -30px;
}
.left-section button{
  color: #fff;
  background-color: #48b077;
  padding: 15px 40px;
  border-radius: 40px;
  font-size: 25px;
  font-weight: 700;
  border: none;
}

/* right section  */
.green , .yellow {
  position: absolute;
  right: 0;
}
.green{
  width: 35%;
  bottom: 30px;
}
.yellow{
  width: 30%;
  bottom: 50px;
}
.doctor{
  position: absolute;
  height: 90%;
  right: 0;
  bottom: 0;
}
/* hover for elements  */
a:hover{
  text-decoration: underline 2px black;
}
button:hover{
  scale: 1.1;
  cursor: pointer;
}